* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../img/fondo.jpg);
    background-size: cover;
}

.box {
    position: relative;
    width: 9rem;
    height: 9rem;
    transform-style: preserve-3d;
    animation: animate 80s linear infinite;
    transition: transform 0.3s;
}

@keyframes animate {
    0% {
        transform: perspective(1000px) rotateY(8deg);
    }
    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.box span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:  Helvetica, Arial,sans-serif;
    /*background-color:#b8c1ec;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    border-radius: 1rem;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(180deg - var(--i) * 26deg)) translateZ(30rem);
    -webkit-box-reflect: below 8px linear-gradient(transparent, transparent, #0004);
}

.box span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
}
/* ... nombre en la parte inferior ... */

.image-names {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    background-color: rgba(0, 0, 0, 0.726);
    color: white;
    font-size: 16px;
}

.image-names span {
    margin: 0 10px;
}
/* ... nombre en la parte inferior abrir imagen ... */
/* Estilos para el overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.overlay.active {
    display: flex;
}

/* Estilos para el contenido del overlay */
.overlay-content {
    position: relative; /* Agrega posición relativa al contenedor del contenido */
    text-align: center;
    background-color: #b8c1ec98;
    border-radius: 1rem;
}

#overlay-image {
    object-fit: contain;
    margin-bottom: 20px;
}

#close-overlay {
    display: flex; /* Usar flexbox para centrar horizontal y verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    cursor: pointer;
    color: white;
    width: 2rem;
    height: 2rem;
    border-radius: 20%;
    border: 2px solid red; /* Color del borde del recuadro */
    position: absolute; /* Posición absoluta para el botón de cerrar */
    top: 10px; /* Distancia desde la parte superior */
    right: 10px; /* Distancia desde la parte derecha */
}

#close-overlay:hover {
    background-color: darkred; /* Cambio de color de fondo al pasar el mouse */
}


/* botones */
.image-button {
    display: inline-block;
    border: 0.2rem solid #eebbc3; /* Cambia el color y el grosor del borde según tus preferencias */
    border-radius: 1rem;
    padding: 0;
    background-color: #eebbc3; /* Cambia el color de fondo a blanco */
    cursor: pointer;
    color: #232946; /* Cambia el color del texto a azul */
    font-size: 16px;
    text-decoration: none; /* Eliminamos el subrayado */
    margin-left: 1rem;
    width: 8rem;
    height: 3rem;
    margin-bottom: 2rem;
}

/* Estilos adicionales para resaltar los botones al pasar el cursor sobre ellos */
.image-button:hover {
    font-weight: bold;
    text-decoration: none;
    width: 9rem;
    height: 4rem;
}

/* anterior y siguiente */

.nav-button {
    background-color: #eebbc3;
    width: 3rem;
    height: 3rem;
    padding: 0;
    cursor: pointer;
    outline: none;
    text-align: center;
    line-height: 3rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.nav-button img {
    margin-bottom: 10%;
    vertical-align: middle;
    width: 2rem;
    height: 2rem;
}
.nav-button img:hover {
    margin-bottom: 10%;
    vertical-align: middle;
    width: 3rem;
    height: 3rem;
}